// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pageContent {
}

#centerColumn{
	width:600px;
	margin:0 auto;
	margin-top:20px;
}

#listTitle{
	background-color:rgb(238, 238, 238);
	padding:10px;
}

#listTitle h1{
	font-size:24px;
	font-weight:bold;
	padding:0px;
	margin:0px;
}

#listHeaders{
	display:block;
	
	border-bottom-color:rgb(238, 238, 238);
	border-bottom-style:solid;
	border-bottom-width:1px;
	
	font-weight:bold;
}

#listItems{
}

.listItem{
	display:block;
	border-bottom-color:rgb(238, 238, 238);
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.listItemCheckbox{
	width:5%;
}

.listItemTitle{
	width:30%;
}

.listItemCategory{
	width:20%;
}

.listItemPriority{
	width:7%;
}

.listItemNotes{
	width:23%;
}

.listItemEdit{
	width:5%;
}

.listItemDelete{
	width:5%;
}

.listItemSave{
	width:10%;
}

.listItemColumn{
	display:inline-block;
	box-sizing:border-box;
	padding:7px;
	vertical-align:top;
}

#errorList{
	margin-top:0px;
	padding-top:5px;
}