// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin:0;
}

a{
	text-decoration:none;
}

#centerColumn{
	width:100%;
	margin:0 auto;
}

#listTitleDiv{
	background-color:rgb(238, 238, 238);
	padding:10px;
}

#listTitleHeader{
	display:inline-block;
	
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	
	padding:0px;
	margin:0px;
	
	cursor:pointer;
}

#list_title{
	display:none;
	
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	
	padding:0px;
	margin:0px;
	border:0px;
}

#listHeaders{
	display:block;
	
	border-bottom-color:rgb(238, 238, 238);
	border-bottom-style:solid;
	border-bottom-width:1px;
	
	font-weight:bold;
}

.listItem{
	border-bottom-color:rgb(238, 238, 238);
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.listItemCheckbox{
	width:26px;
	padding-right:0px !important;
}

.listItemCategory{
	width:100px;
}

.listItemPriority{
	width:50px;
}

.listItemDelete, .listItemSave{
	width:40px;
}

.listItemColumn{
	display:table-cell;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	vertical-align:top;
	padding:7px;
}

#listHeaders, #listNewForm, .listItem, {
	display:table;
	width:100%;
}

#divNewCategory > select, #divNewPriority > select, #divNewSave > input{
	margin-left:0;
	margin-right:0;
}

#task_title{
	width:100%;
}

#errorList{
	margin-top:0px;
	padding-top:5px;
}

.taskCompleted{
	text-decoration:line-through;
}